.atividade-h{
    margin-bottom: 10em;
    width: 90em;
    height: fit-content;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    position: relative;
    left: 3em;
    top: 4em;
   
}
p{
    font-size: 2em;
    width: 90%;
    padding: 1em;
}