.atividade-h{
    margin-bottom: 10em;
    width: 90vw;
    height: fit-content;
    border-radius: 30px;
    background: #e0e0e0;
    box-shadow: 15px 15px 30px #bebebe,
               -15px -15px 30px #ffffff;
    position: relative;
    left: 10vh;
    top: 4em;
   
}
p{
    font-size: 2em;
    width: 90%;
    padding: 1em;
}

.capaHumanas{
    background-image: url(/img/Humanas\ 3ano.png);
    background-size: cover;
    background-size: 100vw 100vh;
    height: 100%;
    align-items: center;
    justify-content: center;
    
}