.navbar navbar-expand-lg navbar-light bg-light{
    width: 2000rem;
    height: 3rem;
    background-color: rgb(132, 132, 132);
}
a{
    /* Alguem ta me vendo? */
    font-size: 120%;
}
.navbar-brand{
    font-size: 140%;
}
.nav-link{
    font-size: 140%;
}