/* Inicio */
.buton-ini{
        border: none;
        outline: none;
        background-color: #202020;
        padding: 1% 2%;
        font-size: 500%;
        font-weight: 500;
        color: #fff;
        border-radius: 5px;
        transition: all ease 0.1s;
        box-shadow: 0px 5px 0px 0px #2e2e2e;
        position: absolute;
        left: 40%;
        top: 50%;
}
.buton-ini:active {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px 0px #000000;
      }
.buton-ini:hover:active {
        transform: translateY(5px);
        box-shadow: 0px 0px 0px 0px #2c2c2c;
      }
.ini{
    position: absolute;
    top: 30%;
    left: 37%;
}
.body-index{
    background-image: url(../img/fundo.png);
    background-position: bottom;
    background-size: 100vw 100vh;
    align-items: center;
    font-family: inicio;
}
@font-face {
  font-family:'inicio';
  src:url("../fonts/the_constellation/The\ Constellation.ttf");
}
  /* 
  Botão do GitHub
  */

.Btn {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 45%;
  }
  
  .svgContainer {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;
    border: 120% solid rgba(253, 253, 253, 0.466);
  }
  
  .BG {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #181818;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
    transition: all .3s;
  }

  /* 
  Botão do Linkedin
  */

  .Btn-2 {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 25%;
  }
  
  .svgContainer-2 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(0px);
    letter-spacing: 0.8px;
    border-radius: 10px;


  }
  
  .BG-2 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #0077b5;
    z-index: -1;
    border-radius: 10px;
    pointer-events: none;
  
  }

  /* 
  Botão do Instagram
  */
  .Btn-3 {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 65%;
  
  }
  
  .svgContainer-3 {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: blur(4px);
    letter-spacing: 0.8px;
    border-radius: 10px;
  }
  
  .BG-3 {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    z-index: -1;
    border-radius: 9px;
    pointer-events: none;
    transition: all .3s;
  }
  .Btn:hover ,.Btn-2:hover , .Btn-3:hover{
    background-color: rgb(62, 62, 62);
    border: none;
    border-radius: 9px;
  }
  /* Cronograma */
  .table{
    padding: 3rem 0rem;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0px;
    z-index: 1111;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #111111;
    background-image: linear-gradient(32deg,rgba(8, 8, 8, 0.2) 30px,transparent);
    background-size: 60px 60px;
    background-position: -5px -5px;
  }
/* Sobre mim */
.text{
  width: 100%;
  height: fit-content;
  padding: 2rem;
  --color: rgba(114, 114, 114, 0.3);
  background-color: #191a1a;
  background-image: linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent),
      linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%,transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%,transparent);
  background-size: 55px 55px;
  color: white;
}
.h2{
  padding: 2rem 2rem;
  
}
.text-me{
  padding: 2rem 2rem;
  width: 45%;
  position: relative;
  left: 1rem;
  font-size: 1.3em;
  background: rgb(223, 225, 235);
  color: black;
  border-radius: 50px;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/* Quem sou eu? */
.text-2{
  padding: 3rem;
  height: 100vh;
}
.iframe-2{
  padding: 2rem;
  width: 60%; 
  height: 80% ;
  position: absolute; 
  left: 25%;
}
/* Botão bonito portfólios passados */
.text-3{
  
  position: relative;
  top: 2rem;
  left: 12%;
  display: flex; 
  flex-direction: column; 
  align-items: center; 
  margin-top: 50px;
  width: 80%;
  height: 100%;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  box-shadow: inset 0 -0.6em 2em rgba(37, 37, 37, 0.2),
    0 0  0 0.04em rgb(220, 220, 220),
    0.3em 0.3em 0.3em rgba(52, 52, 52, 0.3);
}

.h1-p{
  padding: 2.5rem;
  font-size: 4rem;
}
  .buton-port2,.buton-port1 {
    width: 20%;
    height: 10rem;
    border: 3px solid #75b33f;
    border-radius: 45px;
    transition: all 0.3s;
    cursor: pointer;
    background: white;
    font-size: 1.2em;
    font-weight: 550;
    font-family: 'Montserrat', sans-serif;
  
  }

  .buton-port2:hover,.buton-port1:hover{
    background: #86b024;
    color: white;
    font-size: 1.5em;
  }